@if index($spinners-types, orbits) {
    .spinners-sass {
        &.-orbits {
            border-radius: 50%;
            @extend .rings;
            animation: -orbits-animate $speed linear infinite;
        }

        &.-orbits:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            @include bounding-box($box-size/1.33333, $box-size/1.33333);
            @extend .rings;
            animation: -orbits-animate $speed/.5 linear infinite;
            // animation-direction: reverse;
        }

        &.-orbits:after {
            content: "";
            position: absolute;
            top: $box-size/8;
            left: $box-size/8;
            border-radius: 50%;
            @include bounding-box($box-size/2, $box-size/2);
            @extend .rings;
            animation: -orbits-animate $speed/.5 linear infinite;
            // animation-direction: reverse;
        }

        &.rings {
            @include border($box-size/8, $primary-color, $primary-color, $background-color, $background-color);
        }

        @keyframes -orbits-animate {
            0%   {
                transform: rotate(0deg);
            }
            50% {
                opacity: .75;
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}